.imgItem {
  transition: scale 250ms linear, box-shadow 250ms linear;
  border-radius: 3px;
}

.imgItem:hover,
.imgItem:focus {
  scale: 1.02;
  box-shadow: 0.5px 0.5px 1px #14a2c2, -0.5px -0.5px 4px #14a2c2;
}
