.buttonLoadMore {
  padding: 8px 15px;
  border-radius: 2px;
  border: 0;
  color: #fff;
  background-color: #5b67a8;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);

  transition: background-color 250ms linear, box-shadow 250ms linear;
}

.buttonLoadMore:active,
.buttonLoadMore:focus,
.buttonLoadMore:hover {
  background-color: #5062c4;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
