.searchbar {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 5px;
  background-color: #1a1a1a;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.3), 0px 4px 5px 0px rgba(0, 0, 0, 0.3),
    0px 1px 10px 0px rgba(0, 0, 0, 0.3);
}

.form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: #191919;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #118da8;
}

.button {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 0;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
  background-color: #3d3d3d;
}

.button:hover {
  opacity: 1;
}

.buttonLabel {
  border: 0;
  fill: #118da8;
  width: 20px;
  height: 20px;
}

.input {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 5px 15px;
  background-color: #191919;
  color: #fff;
  text-align: center;
}

.input::placeholder {
  font: inherit;
  font-size: 18px;
  color: #302f2f;
  font-size: 16px;
  text-align: center;
}

.SearchForm-input::placeholder {
  font: inherit;
  font-size: 18px;
}
